{% extends 'base.html' %} {% block body %}
<div class="main">
  <header>
    <h2 class="title">SUDOKU</h2>
    <div class="info">
      <a
        href="https://github.com/zeumoweb/sudoku-game-backtracking-"
        target="#"
        style="margin-right: 15px"
        ><i class="fab fa-github" style="margin-right: 4px"></i>Source</a
      ><a href="#"
        ><i class="fas fa-chart-bar" style="margin-right: 4px"></i>Statistics</a
      >
    </div>
  </header>
  <div id="complete">
    <div class="message-complete">Congratulations!!!!! Board Completed</div>
    <img src="../static/congratulation.png" class="congrats-logo" alt="" />
  </div>
  <div class="content">
    <div class="modal">GAME OVER</div>
    <div class="game">
      <div id="clock">
        <div>Time</div>
        <div>
          <span id="minutes">00</span><span id="start">:</span
          ><span id="seconds">00</span>
        </div>
      </div>
      <div class="grid">
        {% block grid %}
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>

        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>

        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>

        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>

        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>

        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>

        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>

        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>

        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        <div class="cell" style="font-size: smaller"></div>
        {% endblock grid %}
      </div>
      <div class="sub-grid">
        <div class="sub-cell" id="1" style="font-size: smaller">1</div>
        <div class="sub-cell" id="2" style="font-size: smaller">2</div>
        <div class="sub-cell" id="3" style="font-size: smaller">3</div>
        <div class="sub-cell" id="4" style="font-size: smaller">4</div>
        <div class="sub-cell" id="5" style="font-size: smaller">5</div>
        <div class="sub-cell" id="6" style="font-size: smaller">6</div>
        <div class="sub-cell" id="7" style="font-size: smaller">7</div>
        <div class="sub-cell" id="8" style="font-size: smaller">8</div>
        <div class="sub-cell" id="9" style="font-size: smaller">9</div>
      </div>
    </div>
    <div class="options">
      
        <label for="level">Difficulty Level:</label>
        <div class="select">
        <select id="level">
          <option class="level" value="Medium" style="padding: 3px;">{% block level %} Medium {% endblock %}</option>
          <option class="level" value="Beginner" style="padding: 10px;">Beginner</option>
          <option class="level" value="Easy" style="padding: 10px;">Easy</option>
          <option class="level" value="Hard" style="padding: 3px;">Hard</option>
          <option class="level" value="Difficult" style="padding: 3px;">Difficult</option>          <option class="level" value="Evil" style="padding: 3px;">Evil</option>
        </select>
      </div>
      <a href="/play" class="start-game" id="start-game" style="display: block"
        >New Game</a
      >
      <div class="stuck">Got Stuck?</div>
      <a class="solve" id="display" href="/" style="display: block">
        Display Solution
      </a>
      <div class="solve" id="solve">Visualize Solution</div>
    </div>
  </div>
</div>
{% endblock body %}
